@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

.App{
    min-height: 100vh;
    // background-image: radial-gradient(circle at 50% 50%,);
    background-image:linear-gradient(to right,#561778,#911ccfe3,#73317A,#561778);
    color:white;
}
header{
    height:100px;
    svg{
        height:60px;
        width:100px;
    }
    .title
    {
        width:100%;
    }
}
